.advantages {
    padding-top: 80px;
    padding-bottom: 65px;
    background-color: var(--advantages-background-color);
}

.advantages__list {
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
}

.advantages__item {
    margin: 15px;
    display: flex;
    align-items: start;
}

.advantages__item-img {
    margin: 8px;
    width: 50px;
}

.advantages__item-content {
    margin: 8px;
}

.advantages__item-title {
    color: var(--catering-list-title-color);
    font-size: var(--advantages-list-title-font-size-mobile);
    font-family: var(--advantages-list-title-font-family);
    font-weight: var(--advantages-list-title-font-weight);
    line-height: var(--advantages-list-title-line-height-mobile);
}

.advantages__item-text {
    color: var(--advantages-list-text-color);
    font-family: var(--advantages-list-text-font-family);
    font-size: var(--advantages-list-text-font-size);
    font-weight: var(--advantages-list-text-font-weight);
    line-height: var(--advantages-list-text-line-height);
}

.advantages__item:not(:first-child) {
    margin-top: 50px;
}

@media (min-width: 768px) {

    .advantages__list {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .advantages__item:not(:first-child) {
        margin-top: 15px;
    }

    .advantages__item:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        justify-self: center;
        width: 40%;
    }

    .advantages__item-title {
        font-size: var(--advantages-list-title-font-size-tablet);
        line-height: var(--advantages-list-title-line-height-tablet);
    }
}

@media (min-width: 992px) {

    .advantages__list {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        
    }

    .advantages__item:nth-child(3) {
        grid-row: 1 / 3;
        grid-column: 3 / 3;
        width: auto;
        justify-self: normal;
    }

    .advantages__item-img {
        width: 70px;
    }

    .advantages__item-title {
        font-size: var(--advantages-list-title-font-size);
        line-height: var(--advantages-list-title-line-height);
    }

}