.book {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 100px;
    background-image: url(../img/booking.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.book-wrapper {
    margin: 0 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.book__title {
    color: var(--book-brend-color);
    font-size: var(--book-h2-title-font-size);
    font-weight: var(--book-h2-title-font-weight);
    font-family: var(--book-h2-title-font-family);
    text-transform: var(--book-text-transform);
}

.book__title::after {
    content: " -";
    color: var(--text-color-accent);
}

.book__title::before {
    content: "- ";
    color: var(--text-color-accent);
}

.book__subtitle {
    color: var(--book-subtitle-color);
    font-family: var(--cards-secondary-font-family);
    font-size: var(--book-subtitle-font-size-mobile);
    font-weight: var(--book-subtitle-font-weight);
    line-height: var(--book-subtitle-line-height-mobile);
}

.book__text-bold {
    display: inline-block;
    margin: 0;
    margin-top: 35px;
    color: var(--book-paragraph-accent-color);
    font-family: var(--book-paragraph-accent-font-family);
    font-size: var(--book-paragraph-accent-font-size);
    font-weight: var(--book-paragraph-accent-font-weight);
    line-height: var(--book-paragraph-accent-line-height);
}

.book__button-wrapper {
    margin-top: 35px;
}

@media (min-width: 768px) {

    .book-wrapper {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 66.66667%;

    }

    .book__subtitle {
        font-size: var(--book-subtitle-font-size-tablet);
        line-height: var(--book-subtitle-line-height-tablet);
    }

}

@media (min-width: 991px) {

    .book__subtitle {
        font-size: var(--book-subtitle-font-size);
        line-height: var(--book-subtitle-line-height);
    }

}