.booking {
    padding-top: 70px;
    padding-bottom: 100px;
}

.booking__nane {
    color: var(--text-accent-color);
    font-weight: var(--text-accent-title-weight);
    font-family: var(--text-accent-title-font);
    text-transform: var(--text-transform);
}

.booking__title{
    font-size: var(--text-title-size);
    font-weight: var(--text-title-weight);
    font-family: var(--text-title-font);
}