.book {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 100px;
    background-image: url(../img/booking.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.book-wrapper {
    margin: 0 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.book__title {
    color: var(--text-accent-color);
    font-size: var(--text-title-size-mobile);
    font-weight: var(--text-title-weight-mobile);
    font-family: var(--text-accent-title-font);
    text-transform: var(--text-transform);
}

.book__description {
    margin-top: 20px;
    font-size: var(--text-description-size-large);
    font-weight: var(--text-title-weight);
    font-family: var(--text-title-font);
    color: var(--text-description-color-light);
}

.book__text {
    display: inline-block;
    margin: 0;
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.81);
    font-size: var(--text-text-size);
    font-family: var(--text-text-font);
}

.book__button-wrapper {
    margin-top: 35px;
}

@media (min-width: 768px) {

    .book-wrapper {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 66.66667%;

    }

}