.cards {
    padding-top: 95px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--background-color-accent);
    background-image: url("../img/pattern-for-cards.png");
    background-repeat: no-repeat;
    background-position: 57.5%, 43.37%;
}

.cards__item {
    background-color: var(--background-color-secondary);
}

.cards__item-image {
    width: 50px;
}

.cards__item-link {
    color: var(--link-accent-hover-color);
    text-transform: uppercase;
}

.cards__title {
    color: var(--text-title-color-light);
    text-transform: uppercase;
    font-size: var(--text-title-size-mobile);
}
.photo-slider__list-wrapper {
    margin: 0;
    padding: 0 30px;
    position: relative;
}

.photo-slider__button-prev {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 0;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #000;
    top: 50%;
    z-index: 1;
}

.photo-slider__button-prev-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: #333333;
    transform: rotate(180deg);
}

.photo-slider__button-next {
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #000;
    top: 50%;
    z-index: 1;
}

.photo-slider__button-next-img {
    top: 2px;
    display: inline-block;
    max-width: 100%;
    width: 20px;
    height: 20px;
    fill: #333333;
}

.photo-slider__list {
    padding: 45px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    background-color: var(--background-color-photo);
}

.photo-slider__item:nth-child(n+2) {
    display: none;
}

@media (min-width: 480px) {
    .photo-slider__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    .photo-slider__item:nth-child(n+2) {
        display: block;
    }

    .photo-slider__item:nth-child(n+3) {
        display: none;
    }

}

@media (min-width: 768px) {
    .cards__list {
        display: flex;
        flex-direction: row;
    }

    .photo-slider__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .photo-slider__item:nth-child(n+3) {
        display: block;
    }

    .photo-slider__item:nth-child(n+5) {
        display: none;
    }

}

@media (min-width: 991px) {
    .photo-slider__list {
        grid-template-columns: repeat(7, 1fr);
    }

    .photo-slider__item:nth-child(n+5) {
        display: block;
    }

    .photo-slider__item:nth-child(n+8) {
        display: none;
    }

}