.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("../img/pattern-for-cards.png");
}

.cards-wrapper {
    padding: 0 15px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.cards__heder-wrapper {
    padding: 0 15px;
}

.cards__title {
    color: var(--cards-h2-title-color);
    font-family: var(--cards-primary-font-family);
    font-size: var(--cards-h2-title-font-size);
    font-weight: var(--cards-h2-title-font-weight);
    text-transform: var(--cards-text-transform);
}

.cards__title::after {
    content: " -";
    color: var(--text-title-color-light);
}

.cards__title::before {
    content: "- ";
    color: var(--text-title-color-light);
}

.cards__subtitle {
    margin-top: 20px;
    color: var(--cards-subtitle-color);
    font-family: var(--cards-secondary-font-family);
    font-size: var(--cards-subtitle-font-size-mobile);
    font-weight: var(--cards-subtitle-font-weight);
    line-height: var(--cards-subtitle-line-height-mobile);
}

.cards__text {
    margin-top: 24px;
}

.cards__text-bold {
    color: var(--cards-paragraph-accent-color);
    font-family: var(--cards-primary-font-family);
    font-size: var(--cards-paragraph-accent-font-size);
    font-weight: var(--cards-paragraph-accent-font-weight);
    line-height: var(--cards-paragraph-accent-line-height);
}

.cards__button-wrapper {
    margin-top: 40px;
}

.cards__button {
    margin-left: 0;
    margin-bottom: 30px;
    color: var(--cards-button-color);
    background-color: var(--cards-button-background-color);
}

.cards__button:hover {
    color: var(--cards-button-color-hover);
    background-color: var(--cards-button-background-color-hover);
    border-color: transparent;
}

.cards__list {
    display: flex;
    flex-direction: column;
}

.cards__item {
    margin: 0 15px;
    padding: 29px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--cards-item-background-color);
    border-radius: 10px;
    box-shadow: var(--cards-item-box-shadow);
}

.cards__item:last-child {
    margin-top: 50px;
}

.cards__item-image {
    width: 50px;
}

.cards__item-title {
    margin-top: 20px;
    color: var(--cards-list-title-color);
    font-family: var(--cards-secondary-font-family);
    font-size: var(--cards-list-title-font-size-mobile);
    font-weight: var(--cards-list-title-font-weight);
    line-height: var(--cards-list-title-line-height-mobile);
}

.cards__item-text {
    margin-top: 25px;
    color: var(--cards-list-text-color);
    font-family: var(--cards-secondary-font-family);
    font-size: var(--cards-list-text-font-size);
    font-weight: var(--cards-list-text-font-weight);
    line-height: var(--cards-list-text-line-height);
    text-align: center;
}

.cards__item-caption {
    display: block;
    margin-top: 20px;
    color: var(--cards-list-caption-color);
    font-family: var(--cards-primary-font-family);
    font-size: var(--cards-list-caption-font-size-mobile);
    font-weight: var(--cards-list-caption-font-weight);
    line-height: var(--cards-list-caption-line-height-mobile);
    font-style: var(--cards-list-caption-font-style);
    text-align: center;
}

.cards__item-caption-star {
    color: var(--cards-list-caption-star-color);
}

.cards__item-link {
    margin-top: 20px;
    padding: 12px 26px;
    padding-left: 0;
    display: block;
    color: var(--cards-item-link-color);
    font-family: var(--cards-item-link-font-family);
    font-size: var(--cards-item-link-font-size);
    font-weight: var(--cards-item-link-font-weight);
    line-height: var(--cards-item-link-line-height);
    text-transform: var(--cards-text-transform);
    text-decoration: var(--cards-text-text-decoration);
}

.carousel__wrapper {
    margin: 0;
    padding: 0;
    position: relative;
}

.carousel__button-prev {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .9);
    color: rgba(255, 255, 255, .9);
    top: 45%;
    z-index: 1;
}

.carousel__button-prev-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    fill: #4b566a;
    transform: rotate(180deg);
}

.carousel__button-next {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 25px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .9);
    color: rgba(255, 255, 255, .9);
    top: 45%;
    z-index: 1;
}

.carousel__button-next-img {
    top: 2px;
    display: inline-block;
    max-width: 100%;
    width: 20px;
    height: 20px;
    fill: #4b566a;
}

.carousel__button:hover {
    background-color: var(--cards-carousel-button-background-color);
}

.carousel__list {
    margin: 0;
    padding: 30px 40px;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--cards-carousel-background-color);
}

.carousel__item:nth-child(n+2) {
    display: none;
}

@media (min-width: 480px) {

    .carousel__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    .carousel__item:nth-child(n+2) {
        display: block;
    }

    .carousel__item:nth-child(n+3) {
        display: none;
    }

}

@media (min-width: 768px) {

    .cards__subtitle {
        font-size: var(--cards-subtitle-font-size-tablet);
        line-height: var(--cards-subtitle-line-height-tablet);
    }

    .cards__list {
        display: flex;
        flex-direction: row;
    }

    .cards__item {
        justify-content: center;
        align-items: center;
    }

    .cards__item:last-child {
        margin-top: 0;
    }

    .cards__item-title {
        font-size: var(--cards-list-title-font-size-tablet);
        line-height: var(--cards-list-title-line-height-tablet);
    }

    .carousel__list {
        grid-template-columns: repeat(4, 1fr);
    }

    .carousel__item:nth-child(n+3) {
        display: block;
    }

    .carousel__item:nth-child(n+5) {
        display: none;
    }

}

@media (min-width: 991px) {
    .cards-wrapper {
        display: flex;
        flex-direction: row;
    }

    .cards__heder-wrapper {
        display: flex;
        flex-direction: column;
    }

    .cards__subtitle {
        font-size: var(--cards-subtitle-font-size);
        line-height: var(--cards-subtitle-line-height);
    }

    .cards__item-title {
        font-size: var(--cards-list-title-font-size);
        line-height: var(--cards-list-title-line-height);
    }

    .cards__item-caption {
        font-size: var(--cards-list-caption-font-size);
        line-height: var(--cards-list-caption-line-height);
    }

    .carousel__list {
        grid-template-columns: repeat(7, 1fr);
    }

    .carousel__item:nth-child(n+5) {
        display: block;
    }

    .carousel__item:nth-child(n+8) {
        display: none;
    }

}