.page-footer {
    background-color: var(--footer-background-color);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.page-footer-wrapper {
    padding: 60px 20px;
    border-top: 1px rgb(155, 158, 164) solid;
    border-bottom: 1px rgb(155, 158, 164) solid;
}

.page-footer__logo-img {
    width: 153px;
    margin: 0 auto;
}

.footer__text {
    margin-top: 30px;
    color: var(--footer-text-color);
    font-family: var(--footer-text-font-family);
    font-size: var(--footer-text-font-size-mobile);
    font-weight: var(--footer-text-font-weight);
    line-height: var(--footer-text-line-height-mobile);
}

.service {
    margin-top: 30px;
}

.service__list {
    text-align: center;
}

.service__item {
    padding: 10px 5px;
}

.service__item-link {
    color: var(--footer-service-link-color);
    font-family: var(--footer-service-link-font-family);
    font-size: var(--footer-service-link-font-size-mobile);
    text-transform: var(--footer-service-link-transform);
    text-decoration: var(--footer-service-text-decoration);
    font-weight: var(--footer-service-link-font-weight);
}

.service__item-link:hover {
    color: var(--footer-service-link-color-hover);
}

.social {
    margin-top: 30px;
}

.social__link svg {
    width: 20px;
}

.social__title {
    display: none;
}

.footer-main-nav {
    margin-top: 20px;
}

.footer-main-nav__title,
.links__title,
.contacts__title {
    color: var(--footer-list-title-color);
    font-size: var(--footer-list-title-font-size-mobile);
    font-family: var(--footer-list-title-font-family);
    font-weight: var(--footer-list-title-font-weight);
    line-height: var(--footer-list-title-line-height-mobile);
}

.footer-main-nav__item,
.links__item,
.contacts__item {
    margin: 10px 5px;
}

.footer-main-nav__item-link,
.links__item-link {
    color: var(--footer-link-color);
    font-family: var(--footer-link-font-family);
    font-size: var(--footer-link-font-size-mobile);
    font-weight: var(--footer-link-font-weight);
}

.footer-main-nav__item-link:hover {
    color: var(--footer-link-color-hover);
}

.links__item-link:hover {
    color: var(--footer-link-color-hover);
}

.footer-main-nav__item-link {
    text-decoration: none;
}

.links {
    margin-top: 50px;
}

.links__item-link {
    text-decoration: none;
}

.contacts {
    margin-top: 50px;
}

.contacts__item-img svg {
    width: 18px;
    color: var(--footer-contacts-icon-color);
}

.contacts__list {
    color: var(--footer-contacts-item-color);
    font-family: var(--footer-contacts-item-font-family);
    font-size: var(--footer-contacts-item-font-size);
    font-weight: var(--footer-contacts-item-font-weight);
    line-height: var(--footer-contacts-item-line-height);
    font-style: var(--footer-contacts-item-font-style);
}

.contacts__woking-hours {
    display: block;
    padding-right: 10px;
}

.caption {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.caption__item {
    color: var(--footer-contacts-item-color);
    font-family: var(--footer-contacts-item-font-family);
    font-size: var(--footer-contacts-item-font-size);
    font-weight: var(--footer-contacts-item-font-weight);
    line-height: var(--footer-contacts-item-line-height);
    font-style: var(--footer-contacts-item-font-style);
}

.caption__item:not(:first-child) {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .page-footer-wrapper {
        padding: 60px 15px;
        display: flex;
        flex-direction: row;
        text-align: start;
    }

    .page-footer__information {
        margin-top: 0;
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .footer__text {
        font-size: var(--footer-text-font-size);
        line-height: var(--footer-text-line-height);
    }

    .service__item {
        margin: 5px 8px;
        margin-left: 0;
    }

    .social__list {
        display: flex;
        flex-direction: row;
    }

    .footer-main-nav {
        margin: 0;
        padding: 0 15px;
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }

    .footer-main-nav__title,
    .links__title,
    .contacts__title {
        font-size: var(--footer-list-title-font-size-tablet);
        line-height: var(--footer-list-title-line-height-tablet);
    }

    .footer-main-nav__item,
    .links__item,
    .contacts__item {
        margin: 10px 0;
    }

    .footer-main-nav__item-link {
        margin: 10px 0;
    }

    .footer-main-nav__item-link,
    .links__item-link {
        font-size: var(--footer-link-font-size);
    }

    .links {
        margin-top: 0;
        padding: 0 15px;
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }

    .contacts {
        margin-top: 0;
        padding: 0 15px;
        flex-basis: 25%;
        max-width: 25%;
    }

    .caption {
        flex-direction: row;
        justify-content: space-between;
    }

    .caption__item:not(:first-child) {
        margin-top: 0;
    }

}

@media (min-width: 992px) {
    .service__list {
        display: flex;
        flex-direction: row;
    }

    .service__item-link {
        font-size: var(--footer-service-link-font-size);
    }

    .footer-main-nav__title,
    .links__title,
    .contacts__title {
        font-size: var(--footer-list-title-font-size-tablet);
        line-height: var(--footer-list-title-line-height-tablet);
    }
}