@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color-primary: rgb(255, 255, 255);
    --background-color-secondary: #f7f6f2;
    --background-color-accent: rgb(255, 93, 40);
    --background-color-photo: #4b566a;

    --text-color: rgb(155, 158, 164);
    --text-size-mobile: 17px;
    --text-size: 17px;

    --text-title-color-dark: rgb(75, 86, 106);
    --text-title-color-light: #fff;
    --text-title-size-mobile: 11px;
    --text-title-weight-mobile: 900;
    --text-subtitle-color: rgb(130, 134, 143);
    --text-subtitle-size: 19px;
    --text-accent-color: rgb(255, 93, 40);
    --text-dark-accent-color: #82868f;
    --text-accent-title-size: 17px;
    --text-accent-title-weight: 400;
    --text-accent-title-font: Roboto, sans-serif;
    --text-offer-size-catering: 38px;
    --text-description-size: 34px;
    --text-description-color-light: #fff;
    --text-title-weight: 400;
    --text-description-color-dark: rgb(75, 86, 106);
    --text-description-weight: 400;
    --text-description-font: "Vollkorn, sans-serif";
    --text-text-color: rgba(255, 255, 255, 0.81);
    --text-text-color-dark: rgb(75, 86, 106);
    --text-text-size: 19px;
    --text-text-font: Roboto, sans-serif;
    --text-catering-font-family: "Vollkorn, sans-serif";
    --text-catering-font-weight: 400;
    --text-catering-font-size: 22px;
    --text-offer-font-family: "Vollkorn, sans-serif";

    --text-item-text-font-size: 17px;
    --text-item-text-color: rgb(155, 158, 164);

    --text-transform: uppercase;

    --ui-subtitle-size-mobile: 19px;

    --link-color: rgb(130, 134, 143);
    --link-primary-hover-color: rgb(155, 158, 164);
    --link-accent-hover-color: #ff5d28;
    --link-special-color: rgb(166, 58, 24);

    --btn-text-color: #fff;
    --button-size-mobile: 16px;
    --btn-background-accent-color: rgb(255, 93, 40);
    --btn-download-background-color: rgb(255, 244, 241);
    --btn-gift-text-color: #4b566a;
    --btn-gift-background-color: rgb(250, 251, 251);

    --icon-color: rgb(255, 93, 40);
    min-width: 320px;

}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

img {
    display: block;
    width: 100%;
}

button {
    margin: 20px;
    padding: 12px 26px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-width: 2px;
    border-radius: 7px 25px 25px 25px;
    border-color: transparent;
    color: var(--btn-text-color);
    background-color: var(--btn-background-accent-color);
    vertical-align: middle;
    cursor: pointer;
}

button:hover {
    background-color: #e64a17;
}

li {
    padding: 0;
    list-style-type: none;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}