@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;700&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Header start */
    --header-accent-background-color: rgb(255, 93, 40);
    --header-background-color: #f7f6f2;
    --header-special-color: rgb(166, 58, 24);
    --header-text-transform: uppercase;

    --header-information-font-size-mobile: 11px;
    --header-information-font-weight: 900;
    --header-information-line-height-mobile: 15.73px;
    --header-information-font-family: Roboto, sans-serif;
    --header-social-text-decoration: underline;


    --header-link-color: rgb(155, 158, 164);
    --header-link-color-hover: rgb(255, 93, 40);
    --header-link-font-size-mobile: 17px;
    --header-link-font-size: 15px;
    --header-link-font-weight: 500;
    --header-link-font-family: Roboto, sans-serif;

    /* Header end */
    /* Welcome start */
    --welcome-background-color: rgb(255, 255, 255);
    --welcome-h2-title-font-size: 11px;
    --welcome-h2-title-font-weight: 900;
    --welcome-h2-title-brend-color: rgb(255, 93, 40);
    --welcome-subtitle-color: rgb(75, 86, 106);
    --welcome-subtitle-font-size-mobile: 54px;
    --welcome-subtitle-font-size-tablet: 57px;
    --welcome-subtitle-font-size: 60px;
    --welcome-subtitle-font-weight: 400;
    --welcome-subtitle-line-height-mobile: 59.4px;
    --welcome-subtitle-line-height-tablet: 62.7px;
    --welcome-subtitle-line-height: 66px;
    --welcome-paragraph-accent-color: rgb(130, 134, 143);
    --welcome-paragraph-accent-font-size: 19px;
    --welcome-paragraph-accent-font-weight: 500;
    --welcome-paragraph-accent-line-height: 26.6px;
    --welcome-paragraph-accent-font-family: Roboto, sans-serif;
    --welcome-phone-number-color: rgb(75, 86, 106);
    --welcome-phone-number-color-hover: rgb(255, 93, 40);
    --welcome-phone-number-text-decoration-off: none;
    --welcome-phone-number-text-decoration-on: underline;
    --welcome-phone-number-font-size: 17.6px;
    --welcome-phone-number-font-weight: 700;
    --welcome-phone-number-font-family: Roboto, sans-serif;
    --welcome-phone-number-line-height: 24.288px;
    --welcome-phone-image-width: 24px;
    --welcome-phone-image-height: auto;
    --welcome-phone-image-color: rgb(75, 86, 106);
    --welcome-phone-image-color-hover: rgb(255, 93, 40);
    --welcome-primary-font-family: Roboto, sans-serif;
    --welcome-secondary-font-family: "Vollkorn, sans-serif";
    --welcome-text-transform: uppercase;
    /* Welcome end */
    /* About-us start */
    --about-us-h2-title-font-size: 11px;
    --about-us-h2-title-font-weight: 900;
    --about-us-subtitle-margin-top: 20px;
    --about-us-subtitle-color: rgb(75, 86, 106);
    --about-us-subtitle-font-size-mobile: 34px;
    --about-us-subtitle-font-size-tablet: 38px;
    --about-us-subtitle-font-size: 42px;
    --about-us-subtitle-line-height-mobile: 40.8px;
    --about-us-subtitle-line-height-tablet: 45.6px;
    --about-us-subtitle-line-height: 50.4px;
    --about-us-text-color: rgb(155, 158, 164);
    --about-us-paragraph-font-size: 17px;
    --about-us-paragraph-font-weight: 400;
    --about-us-paragraph-line-height: 24.48px;
    --about-us-paragraph-accent-color: rgb(130, 134, 143);
    --about-us-paragraph-accent-font-size: 19px;
    --about-us-paragraph-accent-font-weight: 500;
    --about-us-paragraph-accent-line-height: 26.6px;
    --about-us-primary-font-family: Roboto, sans-serif;
    --about-us-text-transform: uppercase;
    /* About-us end */
    /* Book start */
    --book-brend-color: rgb(255, 93, 40);
    --book-h2-title-font-size: 11px;
    --book-h2-title-font-weight: 900;
    --book-h2-title-font-family: Roboto, sans-serif;
    --book-subtitle-color: rgb(255, 255, 255);
    --book-subtitle-font-size-mobile: 54px;
    --book-subtitle-font-size-tablet: 57px;
    --book-subtitle-font-size: 60px;
    --book-subtitle-font-weight: 400;
    --book-subtitle-line-height-mobile: 59.4px;
    --book-subtitle-line-height-tablet: 62.7px;
    --book-subtitle-line-height: 66px;
    --book-paragraph-accent-color: rgba(255, 255, 255, 0.81);
    --book-paragraph-accent-font-size: 19px;
    --book-paragraph-accent-font-weight: 500;
    --book-paragraph-accent-line-height: 26.6px;
    --book-paragraph-accent-font-family: Roboto, sans-serif;
    --book-text-transform: uppercase;
    /* Book start */
    /* Offers start */
    --offers-brend-color: rgb(255, 93, 40);
    --offers-h2-title-font-size: 11px;
    --offers-h2-title-font-weight: 900;
    --offers-subtitle-margin-top: 20px;
    --offers-subtitle-color: rgb(75, 86, 106);
    --offers-subtitle-font-size-mobile: 34px;
    --offers-subtitle-font-size-tablet: 38px;
    --offers-subtitle-font-size: 42px;
    --offers-subtitle-font-weight: 400;
    --offers-subtitle-line-height-mobile: 40.8px;
    --offers-subtitle-line-height-tablet: 45.6px;
    --offers-subtitle-line-height: 50.4px;
    --offers-paragraph-accent-color: rgb(130, 134, 143);
    --offers-paragraph-accent-font-size: 19px;
    --offers-paragraph-accent-font-weight: 500;
    --offers-paragraph-accent-line-height: 26.6px;
    --offers-list-title-color: rgb(75, 86, 106);
    --offers-list-title-font-size-mobile: 22px;
    --offers-list-title-font-size-tablet: 24px;
    --offers-list-title-font-size: 26px;
    --offers-list-title-font-weight: 400;
    --offers-list-title-line-height-mobile: 28.6px;
    --offers-list-title-line-height-tablet: 31.2px;
    --offers-list-title-line-height: 33.8px;
    --offers-list-text-color: rgb(155, 158, 164);
    --offers-list-text-font-size: 17px;
    --offers-list-text-font-weight: 400;
    --offers-list-text-line-height: 24.48px;
    --offers-secondary-font-family: "Vollkorn, sans-serif";
    --offers-primary-font-family: Roboto, sans-serif;
    --offers-text-transform: uppercase;
    /* Offers end */
    /* Catering start */
    --catering-information-wrapper-padding-left-mobile: 15px;
    --catering-information-wrapper-padding-right-mobile: 15px;
    --catering-information-wrapper-padding-top-mobile: 90px;
    --catering-information-wrapper-padding-bottom-mobile: 75px;
    --catering-information-wrapper-padding-left-tablet: 30px;
    --catering-information-wrapper-padding-right-tablet: 30px;
    --catering-information-wrapper-padding-top-tablet: 105px;
    --catering-information-wrapper-padding-bottom-tablet: 90px;
    --catering-information-wrapper-padding-left: 10%;
    --catering-information-wrapper-padding-right: 10%;
    --catering-information-wrapper-padding-top: 120px;
    --catering-display-mobile: grid;
    --catering-grid-template-columns-mobile: 1fr;
    --catering-grid-template-columns-tablet: repeat(2, 1fr);
    --catering-image-height: 100%;
    --catering-image-object-fit: cover;
    --catering-image-object-position: 39.117% 0%;
    --catering-brend-color: rgb(255, 93, 40);
    --catering-text-color: rgb(155, 158, 164);
    --catering-paragraph-font-size: 17px;
    --catering-paragraph-font-weight: 400;
    --catering-paragraph-line-height: 24.48px;
    --catering-paragraph-accent-color: rgb(130, 134, 143);
    --catering-paragraph-accent-font-size: 19px;
    --catering-paragraph-accent-font-weight: 500;
    --catering-paragraph-accent-line-height: 26.6px;
    --catering-list-icon-width-mobile: 50px;
    --catering-list-icon-width: 70px;
    --catering-list-title-color: rgb(75, 86, 106);
    --catering-list-title-font-size-mobile: 22px;
    --catering-list-title-font-size-tablet: 24px;
    --catering-list-title-font-size: 26px;
    --catering-list-title-font-weight: 400;
    --catering-list-title-line-height-mobile: 28.6px;
    --catering-list-title-line-height-tablet: 31.2px;
    --catering-list-title-line-height: 33.8px;
    --catering-list-text-color: rgb(155, 158, 164);
    --catering-list-text-font-size: 17px;
    --catering-list-text-font-weight: 400;
    --catering-list-text-line-height: 24.48px;
    --catering-h2-title-font-size: 11px;
    --catering-h2-title-font-weight: 900;
    --catering-subtitle-margin-top: 20px;
    --catering-subtitle-color: rgb(75, 86, 106);
    --catering-subtitle-font-size-mobile: 34px;
    --catering-subtitle-font-size-tablet: 38px;
    --catering-subtitle-font-size: 42px;
    --catering-subtitle-line-height-mobile: 40.8px;
    --catering-subtitle-line-height-tablet: 45.6px;
    --catering-subtitle-line-height: 50.4px;
    --catering-primary-font-family: Roboto, sans-serif;
    --catering-secondary-font-family: "Vollkorn, sans-serif";
    --catering-text-transform: uppercase;
    /* Catering end */
    /* Cards start */
    --cards-h2-title-font-size: 11px;
    --cards-h2-title-font-weight: 900;
    --cards-h2-title-color: rgb(255, 255, 255);
    --cards-button-color: rgb(75, 86, 106);
    --cards-button-background-color: rgb(255, 255, 255);
    --cards-button-color-hover: rgb(255, 255, 255);
    --cards-button-background-color-hover: rgb(75, 86, 106);
    --cards-subtitle-color: rgb(255, 255, 255);
    --cards-subtitle-font-size-mobile: 34px;
    --cards-subtitle-font-size-tablet: 38px;
    --cards-subtitle-font-size: 42px;
    --cards-subtitle-font-weight: 400;
    --cards-subtitle-line-height-mobile: 40.8px;
    --cards-subtitle-line-height-tablet: 45.6px;
    --cards-subtitle-line-height: 50.4px;
    --cards-paragraph-accent-color: rgba(255, 255, 255, 0.81);
    --cards-paragraph-accent-font-size: 19px;
    --cards-paragraph-accent-font-weight: 500;
    --cards-paragraph-accent-line-height: 26.6px;
    --cards-item-background-color: rgb(255, 255, 255);
    --cards-item-box-shadow: -3px 3px 26px 5px rgba(130, 134, 143, .25);
    --cards-item-link-color: rgb(255, 93, 40);
    --cards-item-link-font-family: Roboto, sans-serif;
    --cards-item-link-font-size: 11px;
    --cards-item-link-font-weight: 900;
    --cards-item-link-line-height: 15.73px;
    --cards-list-title-color: rgb(75, 86, 106);
    --cards-list-title-font-size-mobile: 28px;
    --cards-list-title-font-size-tablet: 30px;
    --cards-list-title-font-size: 32px;
    --cards-list-title-font-weight: 400;
    --cards-list-title-line-height-mobile: 31.64px;
    --cards-list-title-line-height-tablet: 33.9px;
    --cards-list-title-line-height: 36.16px;
    --cards-list-text-color: rgb(155, 158, 164);
    --cards-list-text-font-size: 17px;
    --cards-list-text-font-weight: 400;
    --cards-list-text-line-height: 24.48px;
    --cards-list-caption-color: rgba(130, 134, 143, 0.63);
    --cards-list-caption-font-size-mobile: 14px;
    --cards-list-caption-font-size: 15px;
    --cards-list-caption-font-style: italic;
    --cards-list-caption-font-weight: 400;
    --cards-list-caption-line-height-mobile: 19.32px;
    --cards-list-caption-line-height: 20.7px;
    --cards-list-caption-star-color: rgb(255, 93, 40);
    --cards-primary-font-family: Roboto, sans-serif;
    --cards-secondary-font-family: "Vollkorn, sans-serif";
    --cards-text-transform: uppercase;
    --cards-carousel-button-background-color: rgb(255, 255, 255);
    --cards-carousel-background-color: rgb(55, 62, 74);
    /* Cards end */
    /* Advantages start */
    --advantages-background-color: #f7f6f2;
    --advantages-list-title-color: rgb(75, 86, 106);
    --advantages-list-title-font-size-mobile: 22px;
    --advantages-list-title-font-size-tablet: 24px;
    --advantages-list-title-font-size: 26px;
    --advantages-list-title-font-weight: 400;
    --advantages-list-title-line-height-mobile: 28.6px;
    --advantages-list-title-line-height-tablet: 31.2px;
    --advantages-list-title-line-height: 33.8px;
    --advantages-list-title-font-family: "Vollkorn, sans-serif";
    --advantages-list-text-color: rgb(155, 158, 164);
    --advantages-list-text-font-size: 17px;
    --advantages-list-text-font-weight: 400;
    --advantages-list-text-line-height: 24.48px;
    --advantages-list-text-font-family: Roboto, sans-serif;
    /* Advantages end */
    /* News start */
    --news-brend-color: rgb(255, 93, 40);
    --news-h2-title-font-size: 11px;
    --news-h2-title-font-weight: 900;
    --news-subtitle-margin-top: 20px;
    --news-subtitle-color: rgb(75, 86, 106);
    --news-subtitle-font-size-mobile: 34px;
    --news-subtitle-font-size-tablet: 38px;
    --news-subtitle-font-size: 42px;
    --news-subtitle-font-weight: 400;
    --news-subtitle-line-height-mobile: 40.8px;
    --news-subtitle-line-height-tablet: 45.6px;
    --news-subtitle-line-height: 50.4px;
    --news-paragraph-accent-color: rgb(130, 134, 143);
    --news-paragraph-accent-font-size: 19px;
    --news-paragraph-accent-font-weight: 500;
    --news-paragraph-accent-line-height: 26.6px;
    --news-list-title-color: rgb(75, 86, 106);
    --news-list-title-font-size-mobile: 22px;
    --news-list-title-font-size-tablet: 24px;
    --news-list-title-font-size: 26px;
    --news-list-title-font-weight: 400;
    --news-list-title-line-height-mobile: 28.6px;
    --news-list-title-line-height-tablet: 31.2px;
    --news-list-title-line-height: 33.8px;
    --news-list-text-color: rgb(155, 158, 164);
    --news-list-text-font-size: 17px;
    --news-list-text-font-weight: 400;
    --news-list-text-line-height: 24.48px;
    --news-text-transform: uppercase;
    --news-primary-font-family: Roboto, sans-serif;
    --news-secondary-font-family: "Vollkorn, sans-serif";
    /* News end */
    /* Footer start */
    --footer-background-color: #f7f6f2;
    --footer-text-color: rgb(155, 158, 164);
    --footer-text-font-size-mobile: 14px;
    --footer-text-font-size: 15px;
    --footer-text-font-weight: 400;
    --footer-text-line-height-mobile: 19.32px;
    --footer-text-line-height: 20.7px;
    --footer-text-font-family: Roboto, sans-serif;
    --footer-list-title-color: rgb(75, 86, 106);
    --footer-list-title-font-size-mobile: 22px;
    --footer-list-title-font-size-tablet: 24px;
    --footer-list-title-font-size: 26px;
    --footer-list-title-font-weight: 400;
    --footer-list-title-line-height-mobile: 28.6px;
    --footer-list-title-line-height-tablet: 31.2px;
    --footer-list-title-line-height: 33.8px;
    --footer-list-title-font-family: "Vollkorn, sans-serif";
    --footer-service-link-color: rgb(75, 86, 106);
    --footer-service-link-color-hover: rgb(255, 93, 40);
    --footer-service-link-font-size-mobile: 17px;
    --footer-service-link-font-size: 11px;
    --footer-service-link-font-weight: 700;
    --footer-service-link-letter-spacing-mobile: 1.7px;
    --footer-service-link-letter-spacing: 1.1px;
    --footer-service-link-font-family: Roboto, sans-serif;
    --footer-service-link-transform: uppercase;
    --footer-service-text-decoration: underline;
    --footer-link-color: rgb(155, 158, 164);
    --footer-link-color-hover: rgb(75, 86, 106);
    --footer-link-font-size-mobile: 17px;
    --footer-link-font-size: 15px;
    --footer-link-font-weight: 500;
    --footer-link-font-family: Roboto, sans-serif;
    --footer-contacts-icon-color: rgb(255, 93, 40);
    --footer-contacts-item-color: rgb(155, 158, 164);
    --footer-contacts-item-font-size: 15px;
    --footer-contacts-item-font-weight: 400;
    --footer-contacts-item-line-height: 20.7px;
    --footer-contacts-item-font-style: italic;
    --footer-contacts-item-font-family: Roboto, sans-serif;
    /* Footer end */

    min-width: 320px;
    /* color */
    --brend-color: rgb(255, 93, 40);
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #f7f6f2;
    --translucent-color: rgba(255, 255, 255, 0.81);
    --text-color: rgb(155, 158, 164);
    --accent-color: rgb(130, 134, 143);
    --subtitle-color: rgb(75, 86, 106);
    --special-color: rgb(166, 58, 24);

}

img {
    display: block;
    width: 100%;
}

button {
    margin: 20px;
    padding: 12px 26px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-width: 2px;
    border-radius: 7px 25px 25px 25px;
    border-color: transparent;
    color: #fff;
    background-color: rgb(255, 93, 40);
    vertical-align: middle;
    cursor: pointer;
}

button:hover {
    background-color: #e64a17;
}

li {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}