.page-header {
    background-color: var(--header-background-color);
}

.page-header__logo {
    padding: 20px 15px;
}

.page-header-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.page-header__logo-img {
    width: 153px;
}

.main-nav--closed {
    display: block;
}

.page-header__information--closed {
    display: block;
}

.site-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.site-list__item {
    padding: 10px;
}

.site-list__item-link {
    color: var(--header-link-color);
    font-family: var(--header-link-font-family);
    font-size: var(--header-link-font-size-mobile);
    font-weight: var(--header-link-font-weight);
}

.site-list__item-link:hover {
    color: var(--header-link-color-hover);
}

.page-header__information-wrapper {
    background-color: var(--header-background-color);
}

.page-header__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.work-schedule {
    padding: 15px 0;
}

.work-schedule__title {
    color: var(--header-special-color);
    font-family: var(--header-information-font-family);
    font-size: var(--header-information-font-size-mobile);
    font-weight: var(--header-information-font-weight);
    line-height: var(--header-information-line-height-mobile);
    text-transform: var(--header-text-transform);
    letter-spacing: 1.1px;
}

.work-schedule__hours {
    padding-left: 15px;
    letter-spacing: 1.1px;
}

.header-social {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header-social__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.header-social__item {
    padding: 0 5px;
}

.header-social__title {
    padding: 0;
    padding-top: 3px;
    margin: 0;
    color: var(--header-special-color);
    font-family: var(--header-information-font-family);
    font-size: var(--header-information-font-size-mobile);
    font-weight: var(--header-information-font-weight);
    line-height: var(--header-information-line-height-mobile);
    text-transform: var(--header-text-transform);
    letter-spacing: 1.1px;
}

.header-social__link {
    color: var(--header-special-color);
    font-family: var(--header-information-font-family);
    font-size: var(--header-information-font-size-mobile);
    font-weight: var(--header-information-font-weight);
    line-height: var(--header-information-line-height-mobile);
    text-transform: var(--header-text-transform);
    text-decoration: var(--header-social-text-decoration);
    letter-spacing: 1.1px;
}

@media (min-width: 992px) {
    .page-header {
        display: flex;
        flex-direction: column;
    }

    .page-header__logo {
        padding: 5px 0;
        justify-content: flex-start;
    }


    .page-header-wrapper {
        width: 100%;
        padding: 15px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: justify;
        order: 2;
    }

    .site-list {
        padding-top: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .site-list__item:last-child {
        padding-right: 0;
    }

    .site-list__item-link {
        font-size: var(--header-link-font-size);
    }


    .page-header__information-wrapper {
        order: 1;
        background-color: var(--header-accent-background-color);
    }

    .page-header__information {
        display: flex;
        flex-direction: row;
        padding: 10px 15px;
        vertical-align: middle;
        justify-content: space-between;
    }

    .header-social__item {
        padding: 0 9px;
    }

    .header-social__item:last-child {
        padding: 0;
    }
}