.page-header {
    background-color: var(--header-background-color);
}

.page-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
}

.page-header__logo-img {
    width: 153px;
}

.site-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.site-list__item {
    margin: 10px 5px;
}

.site-list__item-link {
    color: var(--header-link-color);
    font-family: var(--header-link-font-family);
    font-size: var(--header-link-font-size-mobile);
    font-weight: var(--header-link-font-weight);
}

.site-list__item-link:hover {
    color: var(--footer-link-color-hover);
}

.page-header__information-wrapper {
    background-color: var(--header-background-color);
}

.page-header__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.work-schedule__title {
    color: var(--header-special-color);
    font-family: var(--header-information-font-family);
    font-size: var(--header-information-font-size-mobile);
    font-weight: var(--header-information-font-weight);
    line-height: var(--header-information-line-height-mobile);
    text-transform: var(--header-text-transform);
}

.work-schedule__hours {
    padding-left: 15px;
}

.header-social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-social__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.header-social__item {
    padding: 0 5px;
}

.header-social__title {
    padding: 0;
    margin: 0;
    color: var(--header-special-color);
    font-family: var(--header-information-font-family);
    font-size: var(--header-information-font-size-mobile);
    font-weight: var(--header-information-font-weight);
    line-height: var(--header-information-line-height-mobile);
    text-transform: var(--header-text-transform);
}

.header-social__link {
    color: var(--header-special-color);
    font-family: var(--header-information-font-family);
    font-size: var(--header-information-font-size-mobile);
    font-weight: var(--header-information-font-weight);
    line-height: var(--header-information-line-height-mobile);
    text-transform: var(--header-text-transform);
    text-decoration: var(--header-social-text-decoration);
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .page-header {
        display: flex;
        flex-direction: column;
}

    .page-header-wrapper {
        order: 2;
        padding: 15px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .site-list {
        flex-direction: row;
        flex-wrap: wrap;
        vertical-align: baseline;
        justify-content: space-between
    }

    .site-list__item-link {
        font-size: var(--header-link-font-size);
    }


    .page-header__information-wrapper {
        order: 1;
        background-color: var(--header-accent-background-color);
    }

    .page-header__information {
        display: flex;
        flex-direction: row;
        padding: 15px 15px;
        vertical-align: middle;
        justify-content: space-between;
    }

    .header-social__item {
        padding: 0 15px;
    }

    .header-social__item:last-child {
        padding: 0;
    }
}