.news {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: var(--background-color-primary);
    background-image: url(../img/bg-news.png);
    background-repeat: no-repeat;
    background-position: 49% 0% / cover;
}

.news__wrapper {
    padding: 0 12px;
}

.news__title {
    color: var(--text-color-accent);
    font-size: var(--text-title-font-size);
    font-weight: var(--text-title-font-weight);
    font-family: var(--text-title-font-family);
    text-transform: var(--text-transform);
}

.news__title::after {
    content: " -";
    color: var(--text-color-accent);
}

.news__title::before {
    content: "- ";
    color: var(--text-color-accent);
}

.news__list {
    display: grid;
    grid-template-columns: 1fr;
}

.news__list-item {
    width: 297px;
}

.news__list-item:not(:first-child) {
    margin-top: 50px;
}

.list-content__description {
    font-size: var(--text-size);
}

.list-content__button {
    margin-top: 50px;
    font-size: var(--button-size-mobile);
}

@media (min-width: 768px) {
    .news__list {
        grid-template-columns: repeat(2, 1fr);
    }
    
}