.offers {
    margin: 0 auto;
    padding: 0;
    padding-top: 95px;
    padding-bottom: 100px;
    background-image: url("../img/offers-image.svg");
    background-repeat: no-repeat;
    background-position: 57.5%, 43.37%;
    background-color: var(--background-color-secondary);
}

.offers__information-wrapper {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.offers__title {
    font-size: var(--text-title-size-mobile);
    font-family: var(--text-accent-title-font);
    color: var(--text-accent-color);
    text-transform: var(--text-transform);
}

.offers__description {
    margin-top: 20px;
    font-size: var(--text-description-size);
    font-weight: var(--text-description-weight);
    font-family: var(--text-description-font);
    color: var(--text-description-color-dark);
}

.offers__text {
    margin-top: 15px;
    color: var(--text-text-color-dark);
    font-size: var(--text-text-size);
    font-family: var(--text-text-font);
}

.offers__list {
    margin-top: 45px;
    background-color: #fff;
}

.offers__item-img {
    object-fit: cover;
    object-position: 90% 85%;
    width: 100%;
    height: 229px;
}

.offers__text-wrapper {
    padding: 35px;
    text-align: start;
}

.offers__item-name {
    margin-top: 20px;
    font-size: 22px;
}

.offers__item-text {
    padding-top: 20px;
    color: rgb(130, 134, 143);
}

.offers__item-btn {
    margin-left: 0px;
}

@media (min-width: 768px) {
    .offers__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .offers__item-img {
        object-position: 90% 85%;
        width: 100%;
        height: 325px;
    }
    
}

@media (min-width: 992px) {
    .offers__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .offers__item {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
    
}